{% extends 'layout.html' %}

{% block main %}

<h3>custom crossword</h3>

<p> for words {{ context.word_list }} </p>

<div class="mb-3">
    <a href="generate_crossword" class="btn btn-primary"> regenerate </a>
    <a href="create" class="btn btn-secondary"> edit words </a>
</div>


<div class="d-grid gap-4 mb-3"  style="
max-width: 100vw;
contain: content; ">
    <img src="{{ context.key_img_path }}" alt="" style="width: 100%;">
    <img src="{{ context.blank_img_path }}" alt="" style="width: 100%;">
</div>

<div class="mb-3">
    <a href="download" class="btn btn-primary"> download </a>
    <a href="clear" class="btn btn-secondary"> create another puzzle </a>
</div>
{% endblock %}