{% extends 'layout.html' %}

{% block main %}

    <h3> word list </h3>
    <p> input bellow the words you want to use in your crossword puzzle.</p>
    <p class="small">You can add up to 30 words. Each of them should be at least 3 letters long and at most 35 letters long.
        Try to avoid special characters because they might make your word list impossible to solve.</p>
    
    <form class="container mt-3" id="word-list-form" method="post" action="create">
        <ol id="input-container">
            {% if context.word_list %}
                {% for word in context.word_list%}
                    <li class="mb-2 invalid">
                    <input name="word-{{word}}" type="text" value="{{word}}" class="form-control" aria-label="word">
                    </li>
                {% endfor %}
            {% endif %}
        </ol>
        <div class="mb-3">
            <button class="btn btn-secondary" id="add-more-lines" click="">add more</button>
        </div>
        <input class="btn btn-primary" type="submit" value="generate puzze">
        <a href="clear" class="btn btn-secondary" id="clear-lines-btn">discard</a> 
    </form>

 {% endblock %}